body{
    font-family: arial;
    background-color: white;
}
img{
    max-width: 100%;
}

p{
    line-height: 2;
    width: 60%;

}

/*header*/

.header-init{
    background-image: url(./images/header.jpg);
    background-size: cover;
    color: white;
    text-align: center;
    height: 350px;
}

.field{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/*section*/

/*about-container*/

.about-container{
    display: flex;
    flex-direction: row;
}

@media((min-width:601px) and (max-width:768px)){
    .about-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media((max-width:600px)){
    .about-container{
        width: 90%;
        display: flex;
        flex-direction: column;
        margin: 10px auto;
    }
    img{
        display:block;
        margin: 10px auto;
    }
}

/*house-container*/

.house-container{
    display: flex;
    flex-direction: row;
    
}

.card{
    display: flex;
    flex-direction: row;
   
}

.house-item{
    background-color: #ffffff;
    display: flex;
    flex-direction:column;
   
}

.house-item-img{
    width: 100%;
    height: 100%;

}

.house-item-text{
    margin-left: 15px;
    margin-right: 15px;
}

.Price{
    color: rgb(17, 128, 17);
}

.icons-list{
    display: flex;
    flex-direction: column;
}

@media((min-width:601px) and (max-width:768px)){
    .house-container{
        display: grid;
        grid-template-columns: 1fr 1fr;

    }
}

@media((max-width:600px)){
    .house-container{
        width: 90%;
        display: flex;
        flex-direction: column;
        margin: 10px auto;
    }
}

.icon-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10px;
    padding-bottom: 20px;

}

.card .house-item{
    width:100%;
    background-color: whitesmoke;
    font-family: arial;
    
}

img{
    max-width: 100%;
    max-height: 100%;
}

@media((min-width:601px) and (max-width:768px)){
    .house-container{
        display: grid;
        grid-template-columns: 1fr 1fr;

    }
}

@media((max-width:600px)){
    .house-container{
        width: 90%;
        display: flex;
        flex-direction: column;
        margin: 10px auto;
    }
    img{
        display: block;
        margin: 10px auto;
    }
}



/*buttons*/

a{
    text-decoration: none;
    color: white;
}



.btn-details{
    display: flex;
    background-color: orange;
    color: white;

}

/*Contact*/

.header-contact{
    background-color: orange;
    height: 100px;
}

.contact-text{
    text-align: center;
}

.contact-text p {
    width: 100%;
}

form{
    width: 80%;
    margin: 50px auto;
    background-color: lightgray;
    padding: 10px;
    border-radius: 10px;
}

fieldset{
    padding: 10px;
    border-radius: 10px;
    border: 1px solid gray;
}

.input-container{
    margin: 20px;
}


.input-container-radio {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 90px;
    margin-top: 30px;
    margin-bottom: 90px;
}

.input-container label{
    display: inline-block;
    width: 100px;
}

.input-container input,
.input-container textarea{
    width: 80%;
    padding: 5px;
}

footer{
    display: flex;
    justify-content: space-evenly;
    background-color: lightgray;
    height: 100px;
}

.cr-links{
    display: flex;
    justify-content: center;
}

.pp{
    border-left: 3px solid black;
    margin-left: 10px;
    padding-left: 10px;
}

.sm a{
    margin-right: 10px;
    color: black;
}

.selector-container {
    width: 70%;
}

.input-container-contact{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 90px;
    margin-bottom: 90px;
}

.zillow{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: black;

}

.zillow a{
    margin-right: 10px;
    color: black;
}